
@{
    ViewData["Title"] = "Contact";
}

<h2>Skontaktuj się z nami!</h2>

<div class="section">
    <div>
        Email: sklepobuwniczy@gmail.com
    </div>
    <div>
        Tel: 349283746
    </div>
</div>