
@{
    ViewData["Title"] = "Regulamin";
}

<h2>Regulamin</h2>

<div class="section">
    <h4>Artykuł 1. PRZEBIEG TRANSAKCJI</h4>
    <p>
        6.1.
        Akceptując warunki przedstawione przez Sprzedającego w treści Oferty, Użytkownik w celu dokonania zakupu Towaru bierze udział w Licytacji lub dokonuje wyboru opcji Kup Teraz, z zastrzeżeniem art. 3.3 Regulaminu. Dokonując powyższych czynności, Użytkownik uzupełnia odpowiedni formularz na stronie Oferty i potwierdza swój wybór.
    </p>
    <p>
        6.2.
        Z chwilą wzięcia udziału w Licytacji, dane osobowe w zakresie nazwy Konta (loginu) Licytanta są przekazywane Sprzedającemu.
    </p>
    <p>
        6.3.  Podczas publikacji Oferty, Użytkownicy, korzystając z odpowiedniego formularza mogą za pośrednictwem Allegro zadawać Sprzedającemu pytania dotyczące tej Oferty. Treść pytania jest automatycznie wysyłana na zaszyfrowany przez Allegro.pl adres e-mail Sprzedającego, któremu jednocześnie ujawniany jest zaszyfrowany przez Allegro.pl adres e-mail Użytkownika zadającego pytanie.
    </p>

    <h4>Artykuł 2. PRYWATNOŚĆ I POUFNOŚĆ</h4>
    <p>
        13.1.
        Dane osobowe podane przez Użytkowników w miejscach do tego przeznaczonych, Allegro.pl przetwarza zgodnie z obowiązującymi przepisami prawa oraz zgodnie z polityką prywatności zawartą w Załączniku nr 5 do Regulaminu.
    </p>
    <p>
        13.2.
        Użytkownikom ujawniane są dane osobowe innych Użytkowników jedynie w przypadkach przewidzianych w Regulaminie w celach związanych z przeprowadzaniem Transakcji oraz w innych przypadkach, za uprzednią zgodą osoby, której dane dotyczą.
    </p>
    <p>
        13.3.
        Użytkownik zobowiązany jest nie ujawniać osobom trzecim informacji dotyczących innych Użytkowników, które otrzymał od Allegro.pl w związku z korzystaniem z Allegro, chyba że uzyskał uprzednią zgodę od Użytkownika, którego dane dotyczą. W szczególności zabronione jest wykorzystywanie przedmiotowych informacji w celach komercyjnych polegających, w szczególności na promowaniu w jakiejkolwiek formie działalności Użytkownika prowadzonej poza Allegro.
    </p>
</div>

